<section class="main-sect">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header mb-3">
        <h1 class="h2 mb-4 full-sect">Giới thiệu về Sài Gòn Đấu Giá</h1>
        <nav aria-label="breadcrumb" class="full-sect">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Giới thiệu về Sài Gòn Đấu Giá</span></li>
          </ol>
        </nav>
      </div>
      <div class="col-12 bg-light pt-3 pb-3">
        <h1>Heading H1</h1>
        <h2>Heading H2</h2>
        <h3>Heading H3</h3>
        <h4>Heading H4</h4>
        <h5>Heading H5</h5>
        <hr>
        <ul class="default">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul class="default">
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
        <hr>
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
        <hr>
       
        <hr>
        <table>
          <caption>
            This is an example table, and this is its caption to describe the contents.
          </caption>
          <thead>
            <tr>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <address>
          <strong>Twitter, Inc.</strong><br>
          1355 Market St, Suite 900<br>
          San Francisco, CA 94103<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>
        <hr>
        <figure class="figure">
          <img src="https://picsum.photos/800/340/?random" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <hr>
        <div class="alert alert-primary" role="alert">
          This is a primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
          This is a secondary alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
          This is a success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
          This is a danger alert—check it out!
        </div>
        <div class="alert alert-warning" role="alert">
          This is a warning alert—check it out!
        </div>
        <div class="alert alert-info" role="alert">
          This is a info alert—check it out!
        </div>
        <div class="alert alert-light" role="alert">
          This is a light alert—check it out!
        </div>
        <div class="alert alert-dark" role="alert">
          This is a dark alert—check it out!
        </div>
        <hr>
        <button type="button" class="btn btn-primary">
          Notifications <span class="badge badge-light">4</span>
        </button>
        <hr>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
        <hr>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/400/400/?random" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <service-list></service-list>
    </div>
  </div>
</section>