<div class="col-12">
    <div class="services-list">
      <div class="service-item"><span class="service-thumb"><img src="assets/img/service01.png" alt="" width="80"></span><span class="text-uppercase service-title">Dịch vụ giao hàng</span></div>
      <div class="service-item"><span class="service-thumb"><img src="assets/img/service02.png" alt="" width="80"></span><span class="text-uppercase service-title">Thanh toán tin cậy</span></div>
      <div class="service-item"><span class="service-thumb"><img src="assets/img/service03.png" alt="" width="50"></span><span class="text-uppercase service-title">Chính sách an toàn</span></div>
      <div class="service-item"><span class="service-thumb"><img src="assets/img/service04.png" alt="" width="70"></span><span class="text-uppercase service-title">Đăng ký thành viên</span></div>
    </div>
</div>