<section class="main-sect">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header mb-3">
        <h1 class="h2 mb-4 full-sect">Gian hàng ABC</h1>
        <nav aria-label="breadcrumb" class="full-sect">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Gian hàng ABC</span></li>
          </ol>
        </nav>
      </div>
      <div class="col-12 bg-light mb-4 pt-3">
        <h2 class="h4">Giới thiệu</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum, ex quos fugiat qui suscipit mollitia sint enim, blanditiis fuga aut? At, quidem eaque nemo modi natus voluptates repudiandae deleniti!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nobis soluta fugiat fuga nemo inventore autem amet. Molestias, earum totam officiis, non, delectus sint omnis cupiditate eligendi vitae ut pariatur?</p>
      </div>
      <div class="col-12">
        <div class="row full-banner-2-col">
          <div class="col-lg-6 col-sm-12">
            <a href="#"><img src="https://picsum.photos/600/600/?random" alt="" class="img-responsive"></a>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="row">
              <div class="col-12">
                <a href="#"><img src="https://picsum.photos/600/300/?random" alt="" class="img-responsive"></a>
              </div>
              <div class="col-6 mt-3">
                <a href="#"><img src="https://picsum.photos/400/400/?random" alt="" class="img-responsive"></a>
              </div>  
              <div class="col-6 mt-3">
                <a href="#"><img src="https://picsum.photos/300/300/?random" alt="" class="img-responsive"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card main-col full-sect mt-3">
          <div class="card-header">
            <span class="text-uppercase">Đấu Giá Vip</span>
          </div>
          <div class="card-body">
            <div class="product-cols-carousel col-4-items" data-items="4">
              <div class="product-item">
                <a href="#" class="user-level-2">
                  <span class="product-thumb"><img src="img/product01.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-11-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-5">
                  <span class="product-thumb"><img src="img/product02.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-11-20">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-6">
                  <span class="product-thumb"><img src="img/product03.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-12-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-3">
                  <span class="product-thumb"><img src="img/product04.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-13-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-1">
                  <span class="product-thumb"><img src="img/product05.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-13-15">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="products-list row">
          <h5 class="text-uppercase list-title">Đấu Giá Mới</h5>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-price text-center">6.900.000 đ</span>
              <ul class="product-timer" data-end="2018-05-30-13-15">
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
                <li class="d-inline-block">00</li>
              </ul>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <nav aria-label="paging for list page">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Trước</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sau</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12">
        <div class="ads-banner full-banner"><a href="#"><img src="https://picsum.photos/1920/450/?random" alt=""></a></div>
      </div>
      <div class="col-12">
        <div class="card main-col full-sect mt-3">
          <div class="card-header">
            <span class="text-uppercase">Sản phẩm Vip</span>
          </div>
          <div class="card-body">
            <div class="product-cols-carousel col-4-items" data-items="4">
              <div class="product-item">
                <a href="#" class="user-level-2">
                  <span class="product-thumb"><img src="img/product01.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-name text-center">Oppo F5</span>
                  <span class="product-price text-center">6.900.000 đ</span>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-5">
                  <span class="product-thumb"><img src="img/product02.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-name text-center">Oppo F5</span>
                  <span class="product-price text-center">6.900.000 đ</span>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-6">
                  <span class="product-thumb"><img src="img/product03.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-name text-center">Oppo F5</span>
                  <span class="product-price text-center">6.900.000 đ</span>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-3">
                  <span class="product-thumb"><img src="img/product04.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-name text-center">Oppo F5</span>
                  <span class="product-price text-center">6.900.000 đ</span>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-1">
                  <span class="product-thumb"><img src="img/product05.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-name text-center">Oppo F5</span>
                  <span class="product-price text-center">6.900.000 đ</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="products-list row">
          <h5 class="text-uppercase list-title">Sản phẩm Mới</h5>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product03.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product05.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Oppo F5</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product06.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Giầy da nam</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-5">
              <span class="product-thumb">
                <img src="img/product01.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Giầy da nam</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
          <div class="product-item">
            <a href="#" class="user-level-6">
              <span class="product-thumb">
                <img src="img/product02.png" alt="" class="img-responsive">
                <strong>Giầy da nam</strong>
              </span>
              <span class="product-name text-center">Giầy da nam</span>
              <span class="product-price text-center">6.900.000 đ</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <nav aria-label="paging for list page">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Trước</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sau</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <service-list></service-list>
    </div>
  </div>
</section>