<header>
    <div class="top-info">
      <div class="container"> 
        <div class="row">
          <div class="col-12 text-right">
            <a >Chăm sóc khách hàng</a>
            <a *ngIf="me == null || me.customerId == 0" [routerLink]="['/login']">Đăng nhập / Đăng ký</a>
            <a *ngIf="me != null && me.customerId != 0">Xin chào {{me.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mid-info">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-4 col-sm-12 text-left">
            <a class="navbar-brand" href="#">
              <img src="assets/img/logo300px.png" alt="" class="d-inline-block align-top">
            </a>
          </div>
          <div class="col-lg-8 col-sm-12 pt-4 text-right">
            <form action="" class="d-inline-block">
              <div class="input-group search-group-box">
                <input type="text" class="form-control" placeholder="Tìm sản phẩm ..." aria-label="product search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <select class="custom-select">
                    <option selected>Tất cả danh mục <i class="fa fa-angle-down"></i></option>
                    <option value="1">Điện máy</option>
                    <option value="2">Gia dụng</option>
                    <option value="3">Dịch vụ</option>
                  </select>
                  <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
            <a href="#" class="cart-btn d-inline-block"><i class="fa fa-cart-plus"></i> <span>0</span> sản phẩm</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="nav-link text-uppercase collapsed" data-toggle="collapse" href="#main-menu-collapse" id="nav-bar-toggle"><span class="to-open"><i class="fa fa-list"></i> Danh Mục</span><span class="to-close"><i class="fa fa-window-close to-back"></i> Đóng</span></a>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link text-uppercase" href="#">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">Dịch vụ &amp; Nạp thẻ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">Mã giảm giá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">Tin tức</a>
            </li>
          </ul>
        </div>
        <a class="nav-link text-uppercase spec-btn" href="home_shop.html">Trang bán hàng</a>
      </div>
    </nav>
  </header>

  
  <section class="primary-nav-sect collapse navbar-collapse" id="main-menu-collapse">
    <div class="container">
      <div class="main-row row">
        <div class="col-12">
          <ul class="main-menu">
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-television"></i> Thiết bị điện tử</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">
                <span class="row">
                  <span class="col-lg-5 col-md-6 col-sm-12 mt-4">
                    <a href="#" class="h5 text-uppercase btn-block">Xu hướng và nổi bật</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 1 triệu</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 3 triệu</a>
                    <a href="#" class="text-secondary btn-block">Tủ Lạnh LG</a>
                    <a href="#" class="text-secondary btn-block">Máy giặc Samsung</a>
                    <a href="#" class="text-secondary btn-block">Máy Lạnh Sanyo</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm cao cấp</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 1 triệu</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 3 triệu</a>
                    <a href="#" class="text-secondary btn-block">Tủ Lạnh LG</a>
                    <a href="#" class="text-secondary btn-block">Máy giặc Samsung</a>
                    <a href="#" class="text-secondary btn-block">Máy Lạnh Sanyo</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm cao cấp</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 1 triệu</a>
                    <a href="#" class="text-secondary btn-block">Sản phẩm dưới 3 triệu</a>
                    <a href="#" class="text-secondary btn-block">Tủ Lạnh LG</a>
                  </span>
                  <span class="col-lg-5 col-md-6 col-sm-12 mt-4">
                    <a href="#" class="h5 text-uppercase btn-block">Sản phẩm thương hiệu</a>
                    <a href="#" class="text-secondary btn-block">Samsung</a>
                    <a href="#" class="text-secondary btn-block">LG</a>
                    <a href="#" class="text-secondary btn-block">Toshiba</a>
                    <a href="#" class="text-secondary btn-block">Hitachi</a>
                    <a href="#" class="text-secondary btn-block">Sanyo</a>

                    <a href="#" class="h5 text-uppercase btn-block mt-4">Mức giá</a>
                    <a href="#" class="text-secondary btn-block">Dưới 1 triệu</a>
                    <a href="#" class="text-secondary btn-block">1 - 3 triệu</a>
                    <a href="#" class="text-secondary btn-block">3 - 5 triệu</a>
                    <a href="#" class="text-secondary btn-block">5 - 10 triệu</a>
                    <a href="#" class="text-secondary btn-block">Trên 10 triệu</a>
                  </span>
                  <span class="col-lg-2 col-md-12 pl-0 d-none d-lg-block mt-4">
                    <span class="ads-banner full-banner mt-0 d-block text-right"><a href="#"><img src="assets/img/img-nav-ads.jpg" alt="" class="img-fluid"></a></span>
                  </span>
                </span>
              </span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-phone"></i> Điện thoại</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-soccer-ball-o"></i> Thể thao</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-leaf"></i> Chăm sóc sức khỏe</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-tags"></i> Siêu thị, tạp hóa</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-cart-plus"></i> Hàng gia dụng</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-camera-retro"></i> Nội thất</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-plug"></i> Thiết bị điện máy</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-headphones"></i> Phụ kiện</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
            <li class="row mega-row">
              <span class="col-lg-3 col-md-4 col-sm-12 mega-tar">
                <a href="#">
                  <i class="fa fa-apple"></i> Sản phẩm Apple</a>
              </span>
              <span class="col-lg-9 col-md-8 col-sm-12 mega-expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore ut, esse eum velit enim id eos quos, excepturi
                ea, optio atque aliquid asperiores alias in quis quam quas sapiente.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>