
    <div class="banner-carousel">
      <div class="banner-item"><a href="#"><img src="assets/img/banner01.jpg" alt=""></a></div>
      <div class="banner-item"><a href="#"><img src="assets/img/banner02.jpg" alt=""></a></div>
      <div class="banner-item"><a href="#"><img src="assets/img/banner03.jpg" alt=""></a></div>
    </div>
    <div class="banner-3-cols">
      <div class="banner-item d-inline-block"><a href="#" style="background: #ffe1cc;"><img src="assets/img/banner04.png" alt=""></a></div>
      <div class="banner-item d-inline-block"><a href="#" style="background: #cfeaff;"><img src="assets/img/banner05.png" alt=""></a></div>
      <div class="banner-item d-inline-block"><a href="#" style="background: #ffe1cc;"><img src="assets/img/banner06.png" alt=""></a></div>
    </div>