<div class="card main-col">
    <div class="card-header">
      <span class="text-uppercase">Đấu giá mới</span>
    </div>
    <div class="card-body">
      <div class="product-cols-carousel col-4-items" data-items="4">
        <div class="product-item">
          <a href="#" class="user-level-6">
            <span class="product-thumb"><img src="assets/img/product06.png" alt="" class="img-responsive"><strong>Quần tây nam</strong></span>
            <span class="product-price text-center">6.900.000 đ</span>
            <ul class="product-timer" data-end="2018-05-30-11-00">
              <li class="d-inline-block">48</li>
              <li class="d-inline-block">20</li>
              <li class="d-inline-block">10</li>
            </ul>
          </a>
        </div>
        <div class="product-item">
          <a href="#" class="user-level-5">
            <span class="product-thumb"><img src="assets/img/product05.png" alt="" class="img-responsive"><strong>Quần tây nam</strong></span>
            <span class="product-price text-center">6.900.000 đ</span>
            <ul class="product-timer" data-end="2018-06-1-12-00">
              <li class="d-inline-block">48</li>
              <li class="d-inline-block">20</li>
              <li class="d-inline-block">10</li>
            </ul>
          </a>
        </div>
        <div class="product-item">
          <a href="#" class="user-level-6">
            <span class="product-thumb"><img src="assets/img/product04.png" alt="" class="img-responsive"><strong>Quần tây nam</strong></span>
            <span class="product-price text-center">6.900.000 đ</span>
            <ul class="product-timer" data-end="2018-06-2-12-00">
              <li class="d-inline-block">48</li>
              <li class="d-inline-block">20</li>
              <li class="d-inline-block">10</li>
            </ul>
          </a>
        </div>
        <div class="product-item">
          <a href="#" class="user-level-5">
            <span class="product-thumb"><img src="assets/img/product03.png" alt="" class="img-responsive"><strong>Quần tây nam</strong></span>
            <span class="product-price text-center">6.900.000 đ</span>
            <ul class="product-timer" data-end="2018-06-3-12-00">
              <li class="d-inline-block">48</li>
              <li class="d-inline-block">20</li>
              <li class="d-inline-block">10</li>
            </ul>
          </a>
        </div>
        <div class="product-item">
          <a href="#" class="user-level-6">
            <span class="product-thumb"><img src="assets/img/product02.png" alt="" class="img-responsive"><strong>Quần tây nam</strong></span>
            <span class="product-price text-center">6.900.000 đ</span>
            <ul class="product-timer" data-end="2018-06-4-12-30">
              <li class="d-inline-block">48</li>
              <li class="d-inline-block">20</li>
              <li class="d-inline-block">10</li>
            </ul>
          </a>
        </div>
      </div>
    </div>
    <a href="#" class="load-more-btn btn btn-outline-light">Xem thêm</a>
  </div>