<div class="col-12">
  <div class="branchs-carousel">
    <div class="branch-item"><a href="#"><img src="assets/img/branch01.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch02.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch03.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch04.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch05.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch06.png" alt=""></a></div>
    <div class="branch-item"><a href="#"><img src="assets/img/branch03.png" alt=""></a></div>
  </div>
</div>