<section class="main-sect">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header">
        <h1 class="h2 mb-2 full-sect">Tài khoản của bạn</h1>
      </div>
      <div class="col-12 mt-3 signin-sect">
        <p class="text-uppercase">Bạn không nhớ mật khẩu của mình?</p>
        <h2 class="h4 mt-3 mb-4 text-uppercase"><i class="fa fa-undo mr-2"></i> Lấy lại mật khẩu</h2>
        <form class="">
          <div class="form-group">
            <label for="exampleInputEmail1">Email *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập Email">
          </div>
          <div id="gg-captcha" class="mb-2"></div>
          <button type="submit" class="btn btn-warning my-1 text-uppercase">Lấy lại mật khẩu</button>
        </form>
      </div>
      <div class="col-12 mt-3 signin-sect">
        <p class="text-uppercase">Tạo mật khẩu của mình?</p>
        <h2 class="h4 mt-3 mb-4 text-uppercase"><i class="fa fa-edit mr-2"></i> Thay đổi Mật khẩu</h2>
        <form class="">
          <div class="form-group">
            <label for="exampleInputEmail1">Mật khẩu mới</label>
            <input type="password" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Nhập mật khẩu mới">
            <small id="emailHelp" class="form-text text-muted">Mật khẩu gồm các kí tự từ a-z, A-Z, 0-9 và kí tự '_'.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Xác nhận Mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Nhập lại mật khẩu mới">
          </div>
          <div class="gg-captcha"></div>
          <button type="submit" class="btn btn-warning my-1 text-uppercase">Thay đổi mật khẩu</button>
        </form>
      </div>
      <service-list></service-list>
    </div>
  </div>
</section>