<section class="main-sect">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header mb-3">
        <nav aria-label="breadcrumb" class="full-sect">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Điện thoại Oppo</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Điện thoại Oppo F5</span></li>
          </ol>
        </nav>
      </div>
      <div class="col-12">
        <div class="pr-details row">
          <div class="col-lg-6 col-sm-12 dual-carousel">
            <div class="product-photos-carousel -for">
              <div class="product-photo"><img src="https://picsum.photos/600/800/?random" alt=""></div>
              <div class="product-photo"><img src="https://picsum.photos/800/600/?random" alt=""></div>
              <div class="product-photo"><img src="https://picsum.photos/600/600/?random" alt=""></div>
              <div class="product-photo"><img src="https://picsum.photos/800/800/?random" alt=""></div>
              <div class="product-photo"><img src="https://picsum.photos/300/300/?random" alt=""></div>
            </div>
            <div class="product-thumbs-carousel -nav">
              <div class="product-thumb"><img src="https://picsum.photos/600/800/?random" alt=""></div>
              <div class="product-thumb"><img src="https://picsum.photos/800/600/?random" alt=""></div>
              <div class="product-thumb"><img src="https://picsum.photos/600/600/?random" alt=""></div>
              <div class="product-thumb"><img src="https://picsum.photos/800/800/?random" alt=""></div>
              <div class="product-thumb"><img src="https://picsum.photos/300/300/?random" alt=""></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 product-des">
            <h1 class="h4 mt-5 mb-2">Oppo F7</h1>
            <div class="stars mb-2">
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <span>(5 người đánh giá)</span>
            </div>
            <div class="product-price h3">1.000.000 đ</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ut delectus minima at sit, sequi facere qui illum quasi minus consequuntur repudiandae dolorum. Omnis excepturi magni laborum molestias earum illo.</p>
            <blockquote class="blockquote">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <ul class="list-default mt-2">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
              </ul>
            </blockquote>
            <form action="" class="free-size-form">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Số lượng</label>
                <input type="number" class="form-control" id="exampleInputQuantity" aria-describedby="quantityHelp" placeholder="Nhập số lượng">
                <small id="emailHelp" class="form-text text-muted">Nhập số lượng cần mua</small>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="text-uppercase">Màu sắc</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option value="null">Chọn màu ...</option>
                  <option value="red">Màu đỏ</option>
                  <option value="blue">Màu xanh</option>
                  <option value="purple">Màu tím</option>
                  <option value="yellow">Màu vàng</option>
                </select>
              </div>
              <a href="#" class="btn btn-warning text-uppercase">Thêm vào giỏ hàng <i class="fa fa-cart-plus"></i></a>
            </form>
            <hr class="mt-4 mb-4">
            <div class="share">
              Chia sẻ: addThis
            </div>
          </div>
          <div class="col-12">
            <hr>
            <div class="row vertical-tabs">
              <div class="col-lg-3 col-sm-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link text-uppercase active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Thông số</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-uppercase" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Nhận xét</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-9 col-sm-12">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, non. Iure atque, at dolor maiores culpa est odit libero praesentium quae necessitatibus minima reprehenderit impedit nesciunt provident nobis accusamus delectus.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, deserunt veniam. Officia, porro nobis eaque dolore id natus impedit quam corporis fugiat qui nam necessitatibus consequatur officiis ducimus reprehenderit vitae.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia suscipit fugit aperiam consequuntur? Placeat, dignissimos consequuntur. Consequuntur commodi nostrum esse facere illo omnis. Quod beatae quae cumque ipsam quasi quas.</p>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <table class="table">
                          <tbody>
                            <tr>
                              <th scope="row">Lorem, ipsum dolor.</th>
                              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, deleniti?</td>
                            </tr>
                            <tr>
                              <th scope="row">Lorem, ipsum dolor.</th>
                              <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, distinctio.</td>
                            </tr>
                            <tr>
                              <th scope="row">Lorem ipsum dolor sit.</th>
                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, totam.</td>
                            </tr>
                          </tbody>
                        </table>  
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda maxime ab magni nam illum mollitia voluptates esse. Ut accusamus commodi, laudantium quasi ducimus quia! Recusandae harum quia veniam aut aliquam.</div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-12">
        <div class="ads-banner full-banner"><a href="#"><img src="https://picsum.photos/1920/450/?random" alt=""></a></div>
      </div>
      <div class="col-12">
        <div class="card main-col full-sect mt-3">
          <div class="card-header">
            <span class="text-uppercase">Sản phẩm liên quan</span>
          </div>
          <div class="card-body">
            <div class="product-cols-carousel col-4-items" data-items="4">
              <div class="product-item">
                <a href="#" class="user-level-2">
                  <span class="product-thumb"><img src="img/product01.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-11-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-5">
                  <span class="product-thumb"><img src="img/product02.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-11-20">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-6">
                  <span class="product-thumb"><img src="img/product03.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-12-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-3">
                  <span class="product-thumb"><img src="img/product04.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-13-00">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
              <div class="product-item">
                <a href="#" class="user-level-1">
                  <span class="product-thumb"><img src="img/product05.png" alt="" class="img-responsive"><strong>Oppo F5</strong></span>
                  <span class="product-price text-center">6.900.000 đ</span>
                  <ul class="product-timer" data-end="2018-05-29-13-15">
                    <li class="d-inline-block">48</li>
                    <li class="d-inline-block">20</li>
                    <li class="d-inline-block">10</li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <service-list></service-list>
    </div>
  </div>
</section>