<footer>
    <div class="top-info">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-sm-6 text-left">
            <div class="d-inline-block text-uppercase font-weight-bold label-inlbl">Thông tin mới</div>
            <form action="" class="d-inline-block">
              <div class="input-group search-group-box">
                <input type="text" class="form-control" placeholder="Nhập email của bạn" aria-label="product search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-warning" type="button"><i class="fa fa-send"></i> Nhận</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 col-sm-6 text-right">
            <span class="d-inline-block text-uppercase font-weight-bold label-inlbl">Liên kết</span>
            <ul class="social-links d-inline-block mb-0">
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
    <div class="mid-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="branch-logo-footer">
              <img src="assets/img/logo300px.png" alt="" class="img-responsive">
            </div>
            <div class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, tempora?</div>
            <div class="adress-footer">
              <div class="mt-3">Địa chỉ: Tầng 7, Tòa nhà Plaza, 12A Đinh Tiên Hoàng, Hoàn Kiếm, Hà Nội</div>
              <div class="mt-3">Email: <a href="mailto:">support@saigondaugia.com</a></div>
              <div class="mt-3">Tel: (028) 3-212-3232</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 pl-5">
            <div class="link-title text-uppercase">Thông tin</div>
            <ul class="link-list">
              <li><a href="#">Khuyến mãi HOT</a></li>
              <li><a href="#">Bộ Sưu Tập</a></li>
              <li><a href="#">Bán Chạy Nhất</a></li>
              <li><a href="#">Đấu Giá Top</a></li>
              <li><a href="#">Deal Đặt Biệt</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="link-title text-uppercase">Chính sách</div>
            <ul class="link-list">
              <li><a href="#">Giao/Trả hàng</a></li>
              <li><a href="#">Giúp đỡ và FAQs</a></li>
              <li><a href="#">Điều khoản &amp; Chính sách</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
              <div class="link-title text-uppercase">Chứng Nhận</div>
            </div>
        </div>
      </div>
    </div>
  </footer>