
<categories></categories>
<section class="main-sect">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <vip-bid-products></vip-bid-products>
          <div class="ads-banner" style="height: 400px;" data-content="Ads Banner 400x680"><a href="#"><img src="https://picsum.photos/400/680/?random" alt=""></a></div>
          <div class="ads-banner" style="height: 225px;" data-content="Ads Banner 400x400"><a href="#"><img src="https://picsum.photos/400/400/?random" alt=""></a></div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
          <nearly-expire-bid-products></nearly-expire-bid-products>
          <new-bid-products></new-bid-products>
          <success-bid-products></success-bid-products>
        </div>
        <div class="col-12">
          <div class="ads-banner full-banner" style="height: 225px;"><a href="#"><img src="https://picsum.photos/1920/450/?random" alt=""></a></div>
        </div>
        <home-branches></home-branches>
        <service-list></service-list>
      </div>
    </div>
  </section>
  
  